@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif; 
    background-color: #f89501;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
  padding-right: 15%; 
}
.game {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
  padding-right: 15%; 
}
.scoreBoard {
display: flex;
justify-content: space-between;
align-items: center; 
padding-left: 15%;
padding-right: 15%; 
}
.score {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
    padding-right: 15%; 
    }
.resultsLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
    padding-right: 15%; 
    }