@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
    margin: 0;
    font-family: 'Metal Mania', cursive;
    background-color: #f7f0e7;

}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
  padding-right: 15%; 
  padding-bottom: 3%;
}
.game {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
  padding-right: 15%; 
  padding-bottom: 3%;
}
.scoreBoard {
display: flex;
justify-content: space-between;
align-items: center; 
padding-left: 15%;
padding-right: 15%; 
}
.score {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
    padding-right: 15%; 
    padding-bottom: 5%;
    }
.resultsLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding-left: 15%;
    padding-right: 15%; 
    font-size: 5vw;
    }

.btn {
    padding: 1.7em 3.7em;
    border-radius: 12px;
    border: 2px solid orange;
    transition-duration: 0.4s;
    cursor: crosshair;
    font-family:'Metal Mania', cursive;
    font-size: larger;
}
.btn:hover {
    background-color: paleturquoise;
    color: red;
}

.btn:active {
    filter: brightness(.3) grayscale(80%);
}